<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>動画 | マンガテレビ</title>
    <!--
    <script src="js/lib/jquery-1.9.1.min.js"></script>
    -->
    <link rel=stylesheet href="css/movies/index.css">
  </head>
  <body>
    <div>
      <img src="<%= target.path %>">
      <div>
        <% if (target.actor.twitterId) { %>
          <a href="https://twitter.com/<%= target.actor.twitterId %>">@<%= target.actor.twitterId %></a></div>
        <% } else { %>
          <%= target.actor.name %>
        <% } %>
    </div>
    <% if (prev) { %>
      <a href="<%= prev.id %>">&lt;<%= prev.actor.twitterId ? '@' + prev.actor.twitterId : prev.actor.name %>さんの動画</a>
    <% } %>
    <% if (next) { %>
      <a href="<%= next.id %>"><%= next.actor.twitterId ? '@' + next.actor.twitterId : next.actor.name %>さんの動画&gt;</a>
    <% } %>
  </body>
</html>
