<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>動画一覧 | マンガテレビ</title>
    <!--
    <script src="js/lib/jquery-1.9.1.min.js"></script>
    -->
    <link rel=stylesheet href="css/movies/index.css">
  </head>
  <body>
    <%
      movieData.forEach(function(movie) {
    %>
      <div>
        <a href="/movies/<%= movie.id %>">
          <img src="<%= contextPath + movie.path %>" class="movie">
        </a>
        <% if (movie.actor.twitterId) { %>
          <a href="https://twitter.com/<%= movie.actor.twitterId %>">@<%= movie.actor.twitterId %></a>
        <% } else { %>
          <%= movie.actor.name %>
        <% } %>
      </div>
    <%
      });
    %>
  </body>
</html>
